<!doctype html>
<html>
<head>
<title>Addition</title>
</head>
<body>
<h1><strong>Addition</strong></h1>

<h2 id="input">Your question was: what is </h2>
<h2 id="output">Your answer is: </h2>

<p><strong>go back:</strong><a href="http://0.0.0.0:5000/">Calculator Home</a>
<script>
var on = prompt("What is the first number");
var tw = prompt("What is the second number");
var sn = " + ";
var one = parseInt(on);
var two = parseInt(tw);
var eq = two + one;
var inp = on + sn + tw;
document.getElementById('input').innerHTML += inp;
document.getElementById('output').innerHTML += eq;
</script>
</body>
</html>
