<!doctype html>
<html>
<head>
    <title>Calculator App</title>
</head>
<body>
    <h1>This is an online Calculator Application</h1>

    <h2>This application has <strong>five</strong> features:</h2>

    <ul>
      <li><a href="http://0.0.0.0:5000/calculator/addition">Addition</a></li>
      
      <li><a href="http://0.0.0.0:5000/calculator/subtraction">Subtraction</a></li>

      <li><a href="http://0.0.0.0:5000/calculator/multiplication">Multiplication</a></li>

      <li><a href="http://0.0.0.0:5000/calculator/division">Division</a></li>

      <li><a href="http://0.0.0.0:5000/calculator/exponents">Exponents</a></li>
    </ul>
</body>
</html>
